<div class="header" ng-controller="HeaderCtrl as header">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">{{header.tr('Toggle navigation')}}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/" ng-click="header.setCurrentPage(1)">SportsGeeks</a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:header.isCurrentPage(1)}">
                        <a href="#/" ng-click="header.setCurrentPage(1)">{{header.tr('Today\'s Match')}}</a>
                    </li>
                    <li ng-show="header.isLoggedIn()" ng-class="{active:header.isCurrentPage(2)}">
                        <a ng-href="#/calendar" ng-click="header.setCurrentPage(2)">{{header.tr('Calendar')}}</a>
                    </li>
                    <li ng-show="header.isLoggedIn()" ng-class="{active:header.isCurrentPage(3)}">
                        <a ng-href="#/standings" ng-click="header.setCurrentPage(3)">{{header.tr('Standings')}}</a>
                    </li>
                    <li ng-show="header.isLoggedIn()" ng-class="{active:header.isCurrentPage(4)}">
                        <a ng-href="#/news" ng-click="header.setCurrentPage(4)">{{header.tr('News')}}</a>
                    </li>
                    <li ng-show="header.isLoggedIn()" ng-class="{active:header.isCurrentPage(5)}">
                        <a ng-href="#/trends" ng-click="header.setCurrentPage(5)">{{header.tr('Trends')}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-hide="header.isLoggedIn()" ng-class="{active:header.isCurrentPage(6)}">
                        <a href="#/sign-up" ng-click="header.setCurrentPage(6)">{{header.tr('Sign Up')}}</a></li>
                    <li ng-hide="header.isLoggedIn()" ng-class="{active:header.isCurrentPage(7)}">
                        <a href="#/sign-in" ng-click="header.setCurrentPage(7)">{{header.tr('Sign In')}}</a></li>
                    <li ng-show="header.isLoggedIn()" ng-class="{active:header.isCurrentPage(8)}">
                        <a href="#/my-page" ng-click="header.setCurrentPage(8)">{{header.username()}}</a></li>
                    <li ng-show="header.isLoggedIn()">
                        <a href="#" ng-click="header.logout()">{{header.tr('Sign Out')}}</a></li>
                    <li>
                        <a role="button" class="dropdown" data-toggle="dropdown" aria-haspopup="true" ara-expanded="false">
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="caret"></span>
                        </a>
                        <ul id="setting-dropdown" class="dropdown-menu">
                            <li><a role="button" ng-click="header.setLanguage('en')"><img class="country-flag" src="/img/english.png">{{header.tr('English')}}</a></li>
                            <li><a role="button" ng-click="header.setLanguage('kr')"><img class="country-flag" src="/img/korean.png">{{header.tr('Korean')}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
