<p ng-hide="myPage.isLoggedIn()">{{myPage.tr('Unauthorized Access')}}</p>
<div ng-show="myPage.isLoggedIn()">
    <h1>{{myPage.tr('My Account Settings')}}</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span>  {{myPage.tr('General Account Information')}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <span style="font-weight:bold">{{myPage.tr('Username')}}: </span>
                    <span>{{myPage.username()}}</span>
                </div>
                <div class="col-sm-6">
                    <span style="font-weight:bold">{{myPage.tr('Email')}}: </span>
                    <span>{{myPage.email()}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <span style="font-weight:bold">{{myPage.tr('Registered at')}}: </span>
                    <span>{{myPage.date()}}</span>
                </div>
            </div>
            <button ng-click="myPage.deleteAccount()" class="btn btn-danger btn-xs" style="float:right; margin-right:20px;">{{myPage.tr('Delete My Account')}}</button>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span>  {{myPage.tr('My Localization Settings')}}</h3>
        </div>
        <div class="panel-body">
            <form name="form" ng-submit="myPage.updateSettings()" role="form" novalidate>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group" ng-class="{ 'has-error': form.timezone.$dirty && form.timezone.$error.required }">
                            <label for="timezone">{{myPage.tr('Timezone')}}</label>
                            <select name="timezone" id="timezone" class="form-control" ng-model="myPage.user.utcOffset" required>
                                <option value=-12 ng-selected="true">UTC-12:00</option>
                                <option value="-11">UTC-11:00</option>
                                <option value="-10">UTC-10:00</option>
                                <option value="-9">UTC-09:00</option>
                                <option value="-8">UTC-08:00</option>
                                <option value="-7">UTC-07:00</option>
                                <option value="-6">UTC-06:00</option>
                                <option value="-5">UTC-05:00</option>
                                <option value="-4">UTC-04:00</option>
                                <option value="-3">UTC-03:00</option>
                                <option value="-2">UTC-02:00</option>
                                <option value="-1">UTC-01:00</option>
                                <option value="0">UTC+00:00</option>
                                <option value="1">UTC+01:00</option>
                                <option value="2">UTC+02:00</option>
                                <option value="3">UTC+03:00</option>
                                <option value="4">UTC+04:00</option>
                                <option value="5">UTC+05:00</option>
                                <option value="6">UTC+06:00</option>
                                <option value="7">UTC+07:00</option>
                                <option value="8">UTC+08:00</option>
                                <option value="9">UTC+09:00</option>
                                <option value="10">UTC+10:00</option>
                                <option value="11">UTC+11:00</option>
                                <option value="12">UTC+12:00</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group" ng-class="{ 'has-error': form.language.$dirty && form.language.$error.required }">
                            <label for="language">{{myPage.tr('Language')}}</label>
                            <select name="language" id="language" class="form-control" ng-model="myPage.user.language" required>
                                <option value="en">{{myPage.tr('English')}}</option>
                                <option value="kr">{{myPage.tr('Korean')}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-actions">
                            <label for="update">&nbsp;</label>
                            <button ng-disabled="form.$invalid" type="submit" name="update" id="update" class="btn btn-success" style="font-weight:bold;width:100%">{{myPage.tr('Update')}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-heart"></span>  {{myPage.tr('My Preference Settings')}}</h3>
        </div>
        <div class="panel-body">
            <div>
                <span style="font-weight:bold">{{myPage.tr('Your Current Preferences')}} : </span>
                <span ng-if="pref.length == 0">{{myPage.tr('None')}}</span>
                <button class="btn btn-info btn-xs pref-tag" ng-repeat="obj in pref" ng-click="myPage.removePrefID(obj)">{{myPage.getPrefName(obj)}}</button>
            </div>
            <hr>
            <div>
                <h3 class="header-pref">{{myPage.tr('Sports')}}</h3>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="obj in trimmed.sports | orderBy: 'name'">
                        <a class="thumbnail" ng-click="myPage.selectSport(obj)">
                            <h4 class="thm-title">{{obj.name}}</h4>
                            <img ng-src="{{obj.img}}">
                        </a>
                        <button ng-if="!myPage.isInPref(obj)" class="btn btn-success btn-pref" ng-click="myPage.addPref(obj)"><span class="glyphicon glyphicon-plus-sign"></span>  {{myPage.tr('Add')}}</button>
                        <button ng-if="myPage.isInPref(obj)" class="btn btn-danger btn-pref" ng-click="myPage.removePref(obj)"><span class="glyphicon glyphicon-minus-sign"></span>  {{myPage.tr('Remove')}}</button>
                    </div>
                </div>
            </div>
            <div ng-if="selected.sport != null">
                <hr>
                <h3 class="header-pref">{{myPage.tr('Leagues')}}</h3>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="obj in trimmed.leagues | sport: selected.sport | orderBy: 'name'">
                        <a class="thumbnail" ng-click="myPage.selectLeague(obj)">
                            <h4 class="thm-title">{{obj.name}}</h4>
                            <img ng-src="{{obj.img}}">
                        </a>
                        <button ng-if="!myPage.isInPref(obj)" class="btn btn-success btn-pref" ng-click="myPage.addPref(obj)"><span class="glyphicon glyphicon-plus-sign"></span>  {{myPage.tr('Add')}}</button>
                        <button ng-if="myPage.isInPref(obj)" class="btn btn-danger btn-pref" ng-click="myPage.removePref(obj)"><span class="glyphicon glyphicon-minus-sign"></span>  {{myPage.tr('Remove')}}</button>
                    </div>
                </div>
            </div>
            <div ng-if="selected.league != null">
                <hr>
                <h3 class="header-pref">{{myPage.tr('Teams')}}</h3>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="obj in trimmed.teams | league: selected.league | orderBy: 'name'">
                        <a id="team-card" class="thumbnail">
                            <h4 class="thm-title">{{obj.name}}</h4>
                            <img ng-src="{{obj.img}}">
                        </a>
                        <button ng-if="!myPage.isInPref(obj)" class="btn btn-success btn-pref" ng-click="myPage.addPref(obj)"><span class="glyphicon glyphicon-plus-sign"></span>  {{myPage.tr('Add')}}</button>
                        <button ng-if="myPage.isInPref(obj)" class="btn btn-danger btn-pref" ng-click="myPage.removePref(obj)"><span class="glyphicon glyphicon-minus-sign"></span>  {{myPage.tr('Remove')}}</button>
                    </div>
                </div>
            </div>
            <button class="btn btn-info btn-save-pref" ng-click="myPage.savePref()"><span class="glyphicon glyphicon-floppy-disk"></span>  {{myPage.tr('Save')}}</button>
        </div>
    </div>
</div>
<style>
    .panel-heading > h3 {
        font-weight: bold;
    }
    a:hover {
        text-decoration: none;
        background: #ecf0f1;
        cursor: pointer;
    }
    .thumbnail {
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .thumbnail > img {
        min-height: 128px;
        min-width: 128px;
    }
    .thumbnail > .thm-title,
    .thumbnail > .thm-title:hover {
        color: black;
        text-align: center;
        font-weight: bold;
    }
    button.btn-pref {
        width: 100%;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #team-card:hover {
        cursor: default;
    }
    .header-pref {
        text-align: center;
        margin-bottom: 20px;
    }
    .thm-title {
        font-weight: bold;
    }
    .btn-save-pref {
        width: 100%;
        height: 60px;
        font-weight: bold;
        font-size: 2rem;
    }
    .pref-tag {
        font-weight: bold;
        margin-left: 10px;
        margin-bottom: 10px;
    }
</style>
